@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body{
  font-family: 'Roboto',sans-serif;
  background : linear-gradient(90deg, #f39b98, #f4b282);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

#todo-form{
  width: 400px;
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 15px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
button{
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #f4b282;
}

button{
  background-color: transparent;
  border: 1px solid #f4b282;
  margin-left: 20px;
  color: #f39b98;
}

button:hover{
  background-color: #f4b282;
  color: #fff;
}

input:focus{
  outline: none;
}

.todo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.todo-item{
  font-size: 1.5rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  margin:10px 0;
  border-radius: 10px;
}

i{
  cursor: pointer;
}